<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			Experienced, delivery focused digital leader who is a passionate advocate for the power of digital and has 8 years experience successfully delivering large-scale, digital programmes and projects.<br/><br/>
			I enjoy creating great products with great user experiences and working in dynamic environments leading agile, cross discipline teams to develop products from initial exploration through to delivery and service.
		</div>
		<br>
	</div>
</div>
